<main>
  <h2>Üzemanyag-felár számítás</h2>
  <p>{{ inputErrors[0] }}</p>
  <form (submit)="startCalculation($event)">
    <div>
      <label for="oldFuel">Régi üzemanyagár (Ft)</label>
      <input
        [(ngModel)]="oldFuelPrice"
        (ngModelChange)="resetShowResult()"
        name="oldFuel"
        id="oldFuel"
        required
      />
      <label for="currentFuel">Jelenlegi üzemanyagár (Ft)</label>
      <input
        [(ngModel)]="newFuelPrice"
        (ngModelChange)="resetShowResult()"
        name="currentFuel"
        id="currentFuel"
        required
      />
      <label for="distance">Távolság (km)</label>
      <input
        [(ngModel)]="distance"
        (ngModelChange)="resetShowResult()"
        name="distance"
        id="distance"
        required
      />
      <label for="currency">HUF/EUR árfolyam</label>
      <input
        [(ngModel)]="currency"
        name="currency"
        id="currency"
        (ngModelChange)="resetShowResult()"
        required
        [value]="currency"
      />
    </div>
    <button type="submit">Számolás</button>
  </form>
</main>

<fsc-result
  *ngIf="showResult"
  [oldFuelPrice]="oldFuelPrice"
  [newFuelPrice]="newFuelPrice"
  [FSC]="FSC"
  [kilometer]="distance"
  [roundedUpKilometer]="roundedUpKilometer"
  [FSCinEuro]="FSCinEuro"
></fsc-result>
