/* You can add global styles to this file, and also import other style files */

body,
html {
  padding: 0;
  margin: 0;
  background-color: white;
  height: 100vh;
  font-family: sans-serif;
}

main {
  max-width: 400px;
  background-color: rgb(236, 235, 235);
  margin: 4vh auto 2vh auto;
  padding: 18px;
}

@media (max-width: 500px) {
  main {
    margin: 10px auto 5px auto;
  }
}

section {
  max-width: 400px;
  background-color: rgb(236, 235, 235);
  margin: 0 auto;
  padding: 18px;
}

section h4 {
  text-align: center;
}

h2 {
  margin-top: 0;
  color: rgb(21, 38, 23);
}


